<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <base href="http://localhost:8080/"> --}}
    <link rel="stylesheet" href="/common.css" />
    <link rel="stylesheet" href="/driverDelivery.css" >
    <title>PROJECT_G05</title>
</head>
<body>
    
<body>
    <header>
        <h1>George Brown Restaurant Delivery Portal</h1>
        <div id="timeAndLocation">
            <p>175 Kendal Avenue Toronto ON M5R 1M3</p>    
            <p>Monday - Thursday: 8:00 a.m. – 4:30 p.m.</p>
        </div>
    </header>

    <main>
        {{#if hideNavbar}}
        {{else}}
            <nav id="navbar">
                <a href="/drivers/openDeliveries">View Open Deliveries</a>
                <a href="/drivers/orderFulfillment">Delivery Fulfillment Page</a>
                <a href="/drivers/driverLogout" id="logout">Logout</a>
            </nav>
        {{/if}}

        <section>
            {{#if hideNavbar}}
            {{else}}
                <h2>Welcome, {{ user.fullname }}</h2>
            {{/if}}
            {{{ body }}}
        </section>
    </main>


</body>
</body>
</html>