* {
    margin: 0
}

main {
    display: flex;
    flex-direction: "row";
    background-color: lightyellow;

    min-height: 90vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 14.5vh;

    background-image: url("headerBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#restaurantInfo {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    font-family: 'Fasthand', cursive;

    text-align: center;
    background-color: bisque;
    border-radius: 1em;
}

#timeAndLocation {
    justify-content: space-around;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 10px;

    border-right: 2px solid black;
    background-color: lawngreen;
}

nav a {
    padding: 2vw;
    font-weight: bold;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif
}

nav a:hover{
    color: lightblue;
}

.linkWithIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1vw;
}

section {
    padding: 2vw;

    width: 100%;
}

#errMsg {
    color: red;
    text-align: center;

    font-weight: bold;
    font-size: 2em;
}