* {
    margin: 0
}

main {
    display: flex;
    flex-direction: "row";
    background-color: yellow;

    min-height: 90vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10vh;

    background-color: greenyellow;
}

#timeAndLocation {
    justify-content: space-around;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 10px;

    border-right: 2px solid black;
}

nav a {
    padding: 2vw;
    font-weight: bold;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif
}

nav a:hover{
    color: lightblue;
}

section {
    padding: 2vw;

    width: 100%;
}

#errMsg {
    color: red;
    text-align: center;

    font-weight: bold;
    font-size: 2em;
}