h1 {
    font-size: 2em;
    text-align: center;
}

#ordering {
    justify-content: right;
}

#ordering ul {
    display: flex;
    flex-direction: row-reverse;
    gap: 1vh;

    list-style: none;
}

#orderList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 1vh;
}

.order {
    background-color: grey;
    border-radius: 5px;
    padding: 5px;
}

.order p {
    padding: 3px;
}

#orderedItemsTitle {
    text-align: center;
}

.orderedItems {
    width: 40%;
    border: 1px solid black;
    margin-bottom: 10px;

    margin: 1vh auto;
}

.currentStatus {
    display: flex;
    flex-direction: row;
}

.currentStatus select {
    border-radius: 5px;
    background-color: lightgray;
}

#updateButton {
    background-color: lightgray;
    border-radius: 5px;
    margin: auto 5%;
    padding: 5px;
}

#message {
    color: red;
    font-weight: bold;
    font-size: 1em;
}