<main>
    <div>
        <h2>Welcome, {{ user.fullname }}</h2>
        <a href="/drivers/driverLogout" id="logout">Logout</a>
    </div>
    <a href="/drivers/openDeliveries">View Open Deliveries</a>
    <a href="/drivers/orderFulfillment">Delivery Fulfillment Page</a>
</main>