<section>
    <div>
        <h2>Welcome, {{ user.fullname }}</h2>
        <a href="/drivers/driverLogout" id="logout">Logout</a>
    </div>
    <a href="/drivers/openDeliveries">View Open Deliveries</a>
    <a href="/drivers/orderFulfillment">Delivery Fulfillment Page</a>
</section>
<main>
    <form action="/drivers/uploadDeliveryPic/{{id}}" method="post">
        <label for="deliveryPic">Upload picture of delivered order: </label>
        <input type="file" name="deliveryPic" accept="image/png, image/gif, image/jpeg, image/jpg">
        <button type="submit">Complete Delivery</button>
    </form>
</main>